QPushButton#LoginBtn
{
    border-style:none;
    border:0px solid #242424;
    color:#DCDCDC;
    padding:5px;
    height:55;
    width : 350;
    border-radius:7px;
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #484848,stop:1 #383838);
}

QPushButton#LoginBtn:hover
{
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #646464,stop:1 #525252);
}

QPushButton#LoginBtn:pressed
{
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #481835,stop:1 #363138);
}

QPushButton#MinBtn
{
    border-image: url(:/img/Min/min_normal.png);
}

QPushButton#MinBtn:hover
{
    border-image: url(:/img/Min/min_hover.png);
}

QPushButton#MinBtn:pressed
{
    border-image: url(:/img/Min/min_pressed.png);
}

QPushButton#CloseBtn
{
    border-image: url(:/img/close/close_normal.png);
}

QPushButton#CloseBtn:hover
{
    border-image: url(:/img/close/close_hover.png);
}

QPushButton#CloseBtn:pressed
{
    border-image: url(:/img/close/close_pressed.png);
}































